PORT=3000
BASE_URL=http://localhost:3000
SESSION_SECRET=cambie-esta-clave-por-una-muy-larga-y-aleatoria
ADMIN_USER=admin
ADMIN_PASSWORD=Cambiar123!
INSTITUTION_NAME=División de Planificación y Evaluación Académica
OFFICIAL_URL=https://planificacionacademica.usfx.bo/
SUPABASE_URL=https://SU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=PEGAR_SERVICE_ROLE_KEY
GOOGLE_DRIVE_ROOT_FOLDER_ID=1Nph-pc6xfbXL59laggthFDNWfiw1X1aO
GOOGLE_SERVICE_ACCOUNT_EMAIL=cuenta-servicio@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPEGAR_CLAVE\n-----END PRIVATE KEY-----\n"
