PORT=3000
BASE_URL=http://localhost:3000
SESSION_SECRET=cambie-esta-clave-por-una-muy-larga-y-aleatoria
ADMIN_USER=admin
ADMIN_PASSWORD=Cambiar123!
INSTITUTION_NAME=División de Planificación y Evaluación Académica
OFFICIAL_URL=https://planificacionacademica.usfx.bo/
SUPABASE_URL=https://SU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYXV6dndzanV6c3N6cnVtemlkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODQ3NDk1MSwiZXhwIjoyMTA0MDUwOTUxfQ.kn3pYlpsrK7USiszBo4XloyyWZ97aAIVqgm2LzctlmE
GOOGLE_DRIVE_ROOT_FOLDER_ID=1Nph-pc6xfbXL59laggthFDNWfiw1X1aO
GOOGLE_SERVICE_ACCOUNT_EMAIL=cuenta-servicio@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPEGAR_CLAVE\n-----END PRIVATE KEY-----\n"
